<app-header title="Inicio" [showMenuButton]="true"></app-header>

<ion-content>
  <!-- Refrescar contenido -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Card con resumen -->
  <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" *ngIf="!loading && personajes.length">
    <div><h5>{{personajes.length}}</h5><p>Personajes</p></div>
  </ion-card>

  <!-- Lista de personajes -->
  <ion-list *ngIf="!loading" class="character-list">
    <ion-item-sliding *ngFor="let character of personajes" class="character-item">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="character.image" />
        </ion-avatar>
        <ion-label>
          <div class="name">{{character.name}}</div>
          <div class="data">
            <strong>Anime:</strong> {{character.animeName}}
            <br />
            <strong>Género:</strong> {{character.genre}}
          </div>
        </ion-label>
      </ion-item>
      
      <!-- Opciones de edición y eliminación -->
      <ion-item-options>
        <ion-item-option (click)="addUpdatePersonaje(character)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="confirmDeletePersonaje(character)" color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Skeleton loader mientras se carga -->
  <ion-list *ngIf="loading" class="character-list">
    <ion-item *ngFor="let i of [1, 1, 1, 1, 1, 1, 1, 1]" class="character-item">
      <ion-avatar slot="start">
        <ion-skeleton-text animated style="width: 100%; height: 100%"></ion-skeleton-text>
      </ion-avatar>
      <ion-label style="width: 50%">
        <div><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></div>
        <div><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></div>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mensaje cuando no hay personajes -->
  <div *ngIf="!loading && this.personajes.length == 0" class="empty">
    <ion-icon name="body-outline"></ion-icon>
    <h3>Aún no has agregado ningún personaje</h3>
  </div>

  <!-- Botón flotante para agregar personaje -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdatePersonaje()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
