<app-header title="Perfil"></app-header>
<ion-content class="ion-padding-top ion-text-center">
  <ion-avatar>
    <img [src]="user.image" />
  </ion-avatar>
  <ion-button class="photo-btn" (click)="takeImage()" size="small" shape="round" mode="ios">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <h2>{{user.name}}</h2>

  <ion-item button detail>
    <ion-icon color="primary" name="person-outline" slot="start"></ion-icon>
    <ion-label>Editar perfil</ion-label>
  </ion-item>
</ion-content>
